<h1><%=t('listing_register') %></h1>

<table>
  <thead>
    <tr>
      <th>Ip</th>
      <th>DDD</th>
      <th>Numero</th>
      <th>Realizado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @register_numbers.each do |register_number| %>
      <tr>
        <td><%= register_number.ip %></td>
        <td><%= register_number.ddd %></td>
        <td><%= register_number.number %></td>
        <td><%= register_number.carried_out %></td>
        <td><%= link_to t('show'), register_number %></td>
        <td><%= link_to t('edit'), edit_register_number_path(register_number) %></td>
        <td><%= link_to t('destroy'), register_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_register'), new_register_number_path %>
