<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @register_number.ip %>
</p>

<p>
  <strong>DDD:</strong>
  <%= @register_number.ddd %>
</p>

<p>
  <strong><%=RegisterNumber.human_attribute_name :number%></strong>
  <%= @register_number.number %>
</p>

<p>
  <strong><%=RegisterNumber.human_attribute_name :carried_out%></strong>
  <%= @register_number.carried_out %>
</p>

<%= link_to t('edit'), edit_register_number_path(@register_number) %> |
<%= link_to t('back'), register_numbers_path %>
